{% extends 'products/base.html' %}
{% block title %}PC Shop{% endblock %}
{% block content %}
{% if products %}
{% for product in products %}
<div class="product_preview">
    <h2><a href="{{ product.get_absolute_url }}">{{ product.name }}</a> <span>${{ product.price }}</span></h2>
    <p>Category: <strong>{{ product.category }}</strong> | Manufacturer: <strong>{{ product.owner }}</strong></p>
</div>
{% endfor %}
{% endif %}
{% include 'products/pagination.html' with page=page_obj %}
{% endblock %}